* {box-sizing: border-box}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
  }
  .mySlides {display: none}
img {vertical-align: middle;}
  

.topnav {
  overflow: hidden;
  background-color: #292f33;
  padding: 6px 8px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding-bottom: 25px;
}

.topnav a.active {
  background-color: #0b788b;
  color: white;
  padding-bottom: 25px;
  margin-left: 15px;
}

.topnav a.login {
  float: right;
}

.topnav a.logo {
  height: 58px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  background-color: #f2f2f2;
}


@media screen and (max-width: 768px) {
  .topnav a, .topnav a.login {
      float: none;
      width: 100%;
      text-align: center;
  }

  .topnav a.logo {
      float: none;
      margin: 0 auto;
  }
}


.nav {
  font-size: 12px;
  overflow: hidden;
  background-color: #eef2f5;
  margin-top: 0px;
  padding: 8px 10px;
}

.nav a.jam {
  margin-right: 20px;
  margin-left: 40px;
  float: left;
}

.nav a.email {
  margin-right: 20px;
  margin-left: 30px;
  float: left;
}

.nav a.loc {
  margin-right: 20px;
  margin-left: 30px;
  float: right;
}

.nav a.phone {
  margin-right: 20px;
  margin-left: 30px;
  float: right;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .nav a {
      float: none;
      margin: 0;
      text-align: center;
  }

  .nav a.jam,
  .nav a.email,
  .nav a.loc,
  .nav a.phone {
      margin: 10px 0;
      float: none;
  }
}




.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 0px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }



.column {
  float: left;
  width: 50%;
  padding: 0 10px;
  position: relative;
  background-color: #eef2f5;
}

.column img {
  height: 430px;
  width: 100%;
  background-color: #052a46;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 768px) {
  .column {
      width: 100%;
  }

  .column img {
      height: auto;
  }
}

  

.column1 {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding: 0; 
  }

  .card {
      padding: 10px; 
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #c7dce6;
}
.card div {
  position: fixed;
  text-align: center;
}



  



  html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column2 {
  float: left;
  width: 18%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-left: 70px;
}

@media screen and (max-width: 650px) {
  .column2 {
    width: 100%;
    display: block;
    margin-left: 0; 
  }
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f3f8fa;

}

.title {
  color: grey;
  font-size: 13px;
}

.container {
  padding: 0 16px;
  font-size: 10px;
  text-align: center;

}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}






.carousel-container2 {
  width: 60%;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #333;
  background: none;
  border: none;
  outline: none;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}



#footer {
  background-color: rgb(18, 34, 54);
  color: #fffdfd;
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
}
