body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #a4b3b6, #ffffff, #cbe4f5, #b8dffa); 
  background-size: 400% 400%;
  animation: gradientAnimation 15s infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 400px;
  padding: 16px;
  background-color: white;
  margin-right: 180px;
  margin-top: 190px;
  border-radius: 2%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: rgb(6, 6, 207);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

hr {
  border: 0;
  height: 2px;
  background: #eeecec;
}

.columnh {
  float: left;
  width: 50%;
  padding: 10px;
  height: 440px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 20px;
    margin-right: 0;
    margin-top: 0;
  }

  .columnh {
    width: 100%;
    height: auto;
  }
}




  .topnav {
    overflow: hidden;
    background-color: #292f33;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    padding-bottom: 25px;
  }
  
 .topnav a.back {
    float: right;
}
.topnav a.logo {
    height: 58px; 
    width: auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #f2f2f2;
}
  






input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtnn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #04AA6D;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}


.containerr {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 40%; 
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtnn .signupbtn {
     width: 100%;
  }
}




.text-container h1 {
  font-size: 3em;
  background: linear-gradient(45deg, #1c5766, #357b8d, #4d664d,  #d1c0c0); 
  -webkit-background-clip: text;
  color: transparent;
  animation: textAnimation 5s infinite alternate;
  margin-top: 30px;
}

@keyframes textAnimation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.cc {
  margin-left: 26px;
}
